$primary-color: #FF3E79;       // Основной цвет
$secondary-color: #ffffff;    // Второстепенный
$background-color: #F8F8F8;   // Фон
$text-color: #1B1C21;         // Основной текст
$heading-color: #7E7E82;      // Заголовки текст
$border-color: #D9FFF5;       // Границы
$title-line:#41F6D7;         // Линия заголовка
$form-border:#EAEAEA;       //Бордер у формы
$form-text: #B5B6BC;          //текст плейсхолдера
$form-subtext:#7E7E82;         //такст под формой
$lining-color:rgba(255, 255, 255, 0.95); //туман войны
$shadow-color:#0E185033; //цвет тени