

.repair {
    &__wrapper {
      width: 240px;
      height: 160px;
      background-color: white;
      margin-right: 16px;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 16px; 
      cursor: pointer;
    }
  
    &__text {
      z-index: 2; // Текст будет выше фона
    }
  
    &__wrapper::after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background-image: url("../img/back.png");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 16px; // Расположение изображения в противоположном углу от текста
      right: 16px; // Расстояние от правого нижнего угла
      z-index: 1; // Картинка будет позади текста
    }
  }

// .repair__wrapper{
//     width: 240px;
//     height: 160px;
//     background-color:white;
//     margin-right: 16px;
// }


// .reair__text{
//     padding-left: 16px;
//     padding-top: 16px;
// }

// .repair__wrapper{
//     display: flex;
// }