@import '../fonts/stylesheet.css';
@import './header.scss';
@import './logos.scss';
@import './repair.scss';
@import './prices.scss';
@import './footer.scss';

// @font-face {
//   font-family: 'Comic';
//   src: url('../fonts/comic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

// body {
//   // padding: 1rem;
//   margin: 0;
//   // font-family: Comic, sans-serif;
//   background-color: $bgColor;
//   color: $text;
//   background-color: red;
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Устанавливаем box-sizing для html */
html {
  box-sizing: border-box;
}

/* Общие стили для body */
body {
  font-family: 'TT Lakes', sans-serif;
  background-color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
 
}

/* Стили для ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Убираем маркеры у списков */
ul, ol {
  list-style: none;
}

/* Стили для кнопок */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* Стили для изображений */
img {
  max-width: 100%;
  display: block;
}

/* Сброс отступов для списков с классами */
ul[class],
ol[class] {
  padding: 0;
}

/* Дополнительные стили для input, textarea, select и button */
input,
button,
textarea,
select {
  font: inherit;
}

/* Стили для блоков с отступами и margin */
h1, h2, h3, h4, h5, h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}




.title{
  height: 56px;
  background: linear-gradient(90deg, #f8f8f8, #ffffff);
  border-top: 1px solid #D9FFF5;
  margin-bottom: 24px;

}

@media (max-width: 768px) {
  .title--mobile {
    height: 80px;
  }
}

h2{
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #7e7e82;
    padding-top: 16px;
    margin-left: 16px;
  
}
